@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --BG-COLOR:#002855;
    --TEXT-COLOR:#ffc300;
    --TEXT-BG:#023e7d;
    --WHITE:#FFF;
    --BLACK:#000;
    --DARK:#011831;
}

body{
   background-color: var(--BG-COLOR);
}


/*header section*/

header {
    font-family: 'Poppins',sans-serif;
    width:90% ;
    margin: 15px auto;
    background-color:var(--TEXT-BG) ;
    border-radius:30px;
    box-shadow: 1px 1px 25px var(--BLACK);
    display: flex;
    justify-content:space-between ;
    padding:1rem;
}

header:hover,header:focus{
    box-shadow: 2px 2px 15px var(--BLACK);
}

/*portfolio*/

.portfolio{
    font-size: 1.25rem;
    font-weight:600;
    color:var(--TEXT-COLOR);
    margin-left:15px;
    position: relative;
}

.portfolio:hover,.portfolio:focus{
    text-shadow: 2px 2px 10px var(--BLACK);
}

.portfolio::before{
    content:'';
    position:absolute;
    right: 0;
    top: 0;
    width:100%;
    height:100%;
    background-color: var(--TEXT-BG);
    animation:slide 4s ease-in-out 0.5s forwards;
}

@keyframes slide{
    0%{
        width:100%;
    }
    100%{
        width:0%;
    }
}

/*navigation*/

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

a{
    -webkit-tap-highlight-color:transparent;
}

header .nav a{
    margin-left: 3rem;
    text-decoration: none;
    color: var(--WHITE);
}

header .nav a:hover,.nav a:focus{
    color:var(--TEXT-COLOR);
    text-decoration: underline;
    text-shadow: 5px 5px 15px var(--BLACK);
    filter: brightness(200%),contrast(200%);
}

/*header-media*/

@media screen and (max-width:700px){
    header{
        display: flex;
        flex-direction: column;
    }

    .portfolio{
        display: flex;
        justify-content: center;
        margin:0 0 1rem 0;
        font-size:1.25rem;
    }
    header .nav a{
        margin-left: 0px;
        font-size:1rem;
        border-left:1px solid var(--WHITE);
        padding-left: 35px;
     }

     .nav a:nth-child(1){
        border:none;
        padding-left: 0;
     }
}

@media (max-width:450px){
    .portfolio{
        font-size: 1rem;
    }
    header .nav a{
        font-size: 0.75rem;
        padding-left:20px;
    }
}

/*home-section*/

.section1{
    display: flex;
    align-items: center;
    width:80%;
    margin:5rem auto;
    font-family:'inter','poppins';
    color:var(--WHITE);
}

.section1 .content h1{
    margin-bottom: 1rem;
}

.section1 .content h2{
    margin-bottom: 0.75rem;
}

.section1 .content h2{
    display: inline-block;
}

.section1 .content h2 span{
    position: relative;
    color:transparent;
    display: inline-block;
    -webkit-text-stroke: .2px var(--TEXT-COLOR);
    animation:display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i)); 
}

@keyframes display-text{
    25%,100%{
        display:none;
    }
}

.section1 .content h2 span::before{
    content: attr(data-text);
    position:absolute;
    width:0;
    border-right:2px solid var(--TEXT-COLOR);
    color:var(--TEXT-COLOR);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,100%{
        width:0;
    }

    70%,90%{
        width:100%;
    }
}
.content p{
    line-height:1.8;
}

.para{
    color: var(--TEXT-COLOR);
}

/*social-media*/

.social{
    width:150px;
    height:35px;
    margin-top:3rem;
    display: flex;
    justify-content: space-between;
}

.social a{
    color:var(--TEXT-COLOR);
    font-size: 2rem;
}

.social a:hover, .social a:focus{
    color:var(--BG-COLOR);
    background-color:var(--TEXT-COLOR);
    border-radius: 50%;
    box-shadow:0 0 15px var(--TEXT-COLOR);
}

.social a:active{
    transform: translateY(-5px);
}

/*home-image*/

.container{
    position: relative;
    display: flex;
    padding: 8px;
}

.container .box{
    --angle:0deg;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:conic-gradient( from var(--angle),transparent 20%, rgb(255, 196, 0));
    border-radius: 50%;
    padding: 8px;
    z-index: -1;
    animation: spin 3s linear 1s infinite;
}

@keyframes spin{
    0%{
        --angle:360deg;
        filter: blur(20%);
    }
}

.vishnu{
    object-fit:cover;
    border-radius: 50%;
    box-shadow: 2px 2px 50px var(--BLACK);
}

.vishnu:hover{
    box-shadow: 2px 2px 50px var(--BLACK);
}

/*home-media*/

@media(max-width:700px){
    .section1{
        display: flex;
        flex-direction: column;
    }

    .social{
        margin-left:35% ;
        margin-bottom: 25px;
    }

    .container{
        margin-left: 10px;
    }
      .content p{
        margin-top:25px;
    }
}

@media (max-width:450px){
    .social{
        margin-left: 28%;
    }

    .content p{
        margin-top:20px;
    }
}

/*about-section*/

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height:100vh;
    font-family: 'poppins';
    background-color: var(--TEXT-BG);
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.section2 .title h1,h2{
    color:var(--WHITE);

}

.section2 .title h1{
    margin-top: 5px;
    font-size: 2rem;
    display: inline-block;
    position: relative;
}

.section2 .title h1::before{
    content:'';
    position: absolute;
    width: 100%;
    height:100%;
    right:0;
    top:0;
    background-color:var(--TEXT-BG);
    animation: letter 7s ease forwards infinite;
}

@keyframes letter{
    100%{
        width:0%;
    }
    0%{
        width:100%;
    }
}

.section2 .title h2{
    font-size:1.5rem;
    text-shadow: 0 0 4px var(--BLACK);
    color: var(--TEXT-COLOR);
    font-weight: 600;
    text-decoration: underline var(--TEXT-COLOR);
}

.me{
    color: var(--TEXT-COLOR);
}

/*about-image*/

 .about-image{
    margin: 2rem;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
}

.about-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

.about-image img:hover,.about-image img:focus{
    box-shadow: 2px 2px 15px var(--BLACK);
}

/*image-animation*/

.about-image .circle{
    position: absolute;
    width:250px;
    height:250px;
    top:-25px;
    left:-25px;
    right:-25px;
    bottom:-25px;
    border-top:2px solid var(--TEXT-BG);
    border-bottom:2px solid var(--TEXT-BG);
    border-right: 4px solid var(--TEXT-COLOR);
    border-left:  4px solid var(--TEXT-COLOR);
    border-radius: 50%;
    animation:circle-rotate 4s linear infinite;
}

@keyframes circle-rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }

}

.about-image .circle:hover{
    animation-play-state:paused;
}

.photo{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding:5px;
    background-color:var(--TEXT-COLOR);
    box-shadow: 2px 2px 25px var(--BLACK);
}

/*about-content*/

.content2 {
    margin: 30px;
    color: var(--WHITE);
}

.detail p{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom:15px;
    text-align: center;
    max-width: 900px;
    line-height: 1.7;
}

.detail p span{
    text-shadow: 0 0 2px var(--BLACK);
    font-weight: 400;
    color: var(--TEXT-COLOR);
}

/*about-button*/

.btn-box{
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:8rem;
    height:2.5rem;
}

.btn-box .btn{
    position:relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--TEXT-COLOR);
    height:100%;
    width:7rem;
    border: 2px solid var(--TEXT-COLOR);
    border-radius:.8rem;
    font-weight:500;
    color:var(--TEXT-BG);
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
}


.btn-box .btn:hover{
    color:var(--TEXT-COLOR);
    box-shadow: 2px 2px 20px var(--BLACK);
}

/*button-animate*/

.btn-box .btn::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background-color:var(--TEXT-BG);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before{
    width:100%;
}

/*skill-section*/

.section3{
    min-height:70vh;
    text-align: center;
    width:80%;
    font-family: 'poppins';
    margin:2rem auto;
    background-color:var(--DARK);
    border:2px solid var(--TEXT-BG);
    box-shadow: 2px 2px 30px var(--BLACK);
    border-radius: 30px;
}

.section3 h1{
    margin-top: 10px;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    color:var(--WHITE)
}

.section3 h1::before{
    content:'';
    position: absolute;
    width: 100%;
    height:100%;
    right:0;
    top:0;
    background-color:var(--DARK);
    animation: letter 7s ease forwards infinite;
}

@keyframes letter{
    100%{
        width:0%;
    }
    0%{
        width:100%;
    }
}

.section3 h1 span{
    color:var(--TEXT-COLOR)
}

.skill-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/*tech-skill*/

.skill-content .tech{
    padding: 25px;
}

.skill-content .tech h2{
    color:var(--TEXT-COLOR);
    text-shadow: 0 0 10px var(--BLACK);
    text-decoration: underline;
}

.skill-content .tech ul li{
    list-style-type:none;
    margin-top:1.25rem;
    width:250px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--TEXT-BG);
    color:var(--WHITE)
}

.skill-content .tech ul li:hover{
    border: 2px solid var(--TEXT-COLOR);
    box-shadow: 0 0 20px var(--BLACK);
}

/*personal-skill*/

.skill-content .personal{
    padding: 25px;
}

.skill-content .personal h2{
    color:var(--TEXT-COLOR);
    text-decoration: underline;
    text-shadow: 0 0 10px var(--BLACK);
}

.skill-content .personal ul li{
    list-style-type:none;
    margin-top:1.25rem;
    width:250px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--TEXT-BG);
    color:var(--WHITE)
}

.skill-content .personal ul li:hover{
    border: 2px solid var(--TEXT-COLOR);
    box-shadow: 0 0 20px var(--BLACK);
}

/*soft-skill*/

.skill-content .soft{
    padding: 25px;
}

.skill-content .soft h2{
    color:var(--TEXT-COLOR);
    text-decoration: underline;
    text-shadow: 0 0 10px var(--BLACK);
}

.skill-content .soft ul li{
    list-style-type:none;
    margin-top:1.25rem;
    width:250px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--TEXT-BG);
    color:var(--WHITE);
}

.skill-content .soft ul li:hover{
    border: 2px solid var(--TEXT-COLOR);
    box-shadow: 0 0 20px var(--BLACK);
}

/*sill-media*/

@media screen and (min-width:750px){

    .skill-content .personal{
        margin-bottom: 3.9rem;
    }

    .skill-content .soft{
        margin-bottom: 3.9rem;
    }
}

/*contact-section*/

.section4{
    text-align: center;
    font-family: 'inter';
    background-color: var(--TEXT-BG);
    min-height:60vh;
    padding: 5vh 0;
}

.form-container{
    width:80%;
    margin:0 auto;
    min-height:60vh;
    background-color: var(--BG-COLOR);
    border:4px solid var(--DARK);
    border-radius: 20px;
    box-shadow: 2px 2px 40px var(--BLACK);
}

.section4 h1{
    margin-top: 10px;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    color:var(--WHITE)
}

.section4 h1::before{
    content:'';
    position: absolute;
    width: 100%;
    height:100%;
    right:0;
    top:0;
    background-color:var(--BG-COLOR);
    animation: letter 7s ease forwards infinite;
}

@keyframes letter{
    100%{
        width:0%;
    }
    0%{
        width:100%;
    }
}

.section4 h1 span{
    color:var(--TEXT-COLOR)
}


input,
textarea,
button {
  border: none;
  outline: none;
  box-shadow: none;
  font-family: inherit;
  resize: none;
}

/*contact-form*/

.form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-content .details{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*name-contact*/

.name{
    margin-top: 3rem;
}

.name input{
    padding: 0.75rem;
    background-color: var(--DARK);
    border-radius:15px;
    color:var(--WHITE);
    font-size: 1.2rem;
}

.name input:hover,.name input:focus{
    box-shadow: 2px 2px 20px var(--BLACK);
    border: 2px solid var(--TEXT-COLOR);
}

/*email-contact*/

.mail{
    margin-top: 0.5rem;
}

.mail input{
    padding: 0.75rem;
    background-color: var(--DARK);
    border-radius:15px;
    color:var(--WHITE);
    font-size: 1.2rem;
}

.mail input:hover,.name input:focus{
    box-shadow: 2px 2px 20px var(--BLACK);
    border: 2px solid var(--TEXT-COLOR);
}

/*address-contact*/

.add{
    margin-top: 0.5rem;
}

.add input{
    padding: 0.75rem;
    background-color: var(--DARK);
    border-radius:15px;
    color:var(--WHITE);
    font-size: 1.2rem;
}

.add input:hover,.name input:focus{
    box-shadow: 2px 2px 20px var(--BLACK);
    border: 2px solid var(--TEXT-COLOR);
}

/*mobile-contact*/

.num{
    margin-top: 0.5rem;
}

.num input{
    padding: 0.75rem;
    background-color: var(--DARK);
    border-radius:15px;
    color:var(--WHITE);
    font-size: 1.2rem;
}

.num input:hover,.name input:focus{
    box-shadow: 2px 2px 20px var(--BLACK);
    border: 2px solid var(--TEXT-COLOR);
}

/*textarea-contact*/

.text-area{
    margin-top: 0.5rem;
}

.text-area textarea{
    padding:4px 0 0 15px;
    width:290px;
    height:250px;
    background-color: var(--DARK);
    border-radius:15px;
    color:var(--WHITE);
}

.text-area textarea:hover,.text-area textarea:focus{
    box-shadow: 2px 2px 30px var(--BLACK);
    border: 2px solid var(--TEXT-COLOR);
}

/*button-form*/

.form-content .btn-box .btn{
    margin-top: 3rem;
    font-size:1.2rem;
    font-weight: 700;
}

.form-content .btn-box .btn::before{
    content: '';
    width:0%;
    background-color: var(--BG-COLOR);
}

.form-content .btn-box .btn:hover::before{
    width:100%;
}

.form-content .btn-box .btn:hover{
    box-shadow: 2px 2px 15px var(--BLACK);
}

/*bottom-contact*/

.mine{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:3.5rem;
}

/*email-contact*/

.email a{
    text-decoration: none;
    color: var(--WHITE);
    font-size: 1.2rem;
    background-color: rgb(0, 114, 17);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 8px var(--BLACK);
}

.email a:hover{
    box-shadow: 2px 2px 20px var(--BLACK);
}

/*mobile-contact*/

.contact a{
    text-decoration: none;
    color: var(--WHITE);
    font-size: 1.2rem;
    background-color: rgb(4, 85, 167);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 8px var(--BLACK);
}

.contact a:hover{
    box-shadow: 2px 2px 20px var(--BLACK);
}

/*contact-media*/

@media (min-width:750px){
    @media (min-width:750px){

  .form-content .details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .mail{
    margin-top:3rem;
  }

  .text-area{
    grid-column: span 2;
  }

  .text-area textarea{
    width:100%;
    height:250px;
  }
}

}

/*footer*/

.bottom{
    background-color: var(--DARK);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 0;
    font-family: 'poppins';
}

.bottom p{
    font-size: 0.75rem;
    color: var(--WHITE);
    margin-left: 10px;
}

/*footer-button*/

.bottom .top{
    background-color: var(--TEXT-COLOR);
    margin-right: 20px;
    border-radius:1px;
    box-shadow:1px 1px 10px var(--BLACK);
}

.bottom .top a{
    text-decoration: none;
    text-align: center;
    color: var(--WHITE);
    font-size: 1.2rem;
    padding: 7px;
}

.bottom .top a:active{
    color: var(--TEXT-COLOR);
    background-color: var(--DARK);
    border: 2px solid var(--TEXT-COLOR);
}














